<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人博客</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/blog_detail.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/axios.js"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <a href="" class="title">我的个人博客 | 技术博客</a>
            <ul>
                <li><a href="/index.html">首页</a></li>
                <li><a href="/sitemap.html">地图</a></li>
                <li><a href="/about.html">关于</a></li>
                <li><a href="/guestbook.html">留言</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="请输入关键词查找">
                <button>搜索</button>
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content_left">
            <div class="blog" id="blog_detail">
                <div class="blog_title">{{title}}</div>
                <div class="blog_msg">作者：我 标签：{{tags}} 发布于：{{ctime}} 浏览（{{views}}）</div>
                <div class="blog_content" v-html="content"></div>
            </div>
            <div class="blog_comments" id="blog_comments">
                <span class="blog_comments_msg">当前文章：目前有{{total}}条留言</span>
                <div class="blog_comment" v-for="comment in comments">
                    <span>
                        <b>{{comment.user_name}}</b>
                        ：{{options}} 发表于{{comment.ctime}}
                        <a @click="reply(comment.id, comment.user_name)" style="cursor: pointer;">[回复]</a>
                    </span>
                    <div>{{comment.comments}}</div>
                </div>
            </div>
            <div class="send_comment" id="send_comment">
                <span>发表评论</span>
                <div>
                    <!--记录评论是回复还是直接评论，value 为 -1 是直接评论-->
                    <input type="hidden" id="comment_reply" value="-1">
                    <!--记录回复人的名称-->
                    <input type="hidden" id="comment_reply_name" value="0">
                    <input type="text" placeholder="昵称" id="comment_name">
                    <input type="text" placeholder="邮箱（评论被回复时你能收到通知）" id="comment_email">
                </div>
                <div>
                    <textarea name="" id="comment_content" placeholder="在此添加评论内容"></textarea>
                </div>
                <div class="randomCodeWrapper">
                    <input type="text" placeholder="验证码(区分大小写)" id="comment_code">
                    <span v-html="randomCodeImg" @click="changeRandomCode"></span>
                </div>
                <button @click="sendComment()">提交评论</button>
            </div>
        </div>

        <div class="content_right">
            <div class="right_module tags" id="random_tags">
                <div class="title">随即标签云</div>
                <a v-for="tag in tags"
                   :href="tag.link"
                   v-bind:style="{color: randomColor(), fontSize: randomSize()}">
                    {{tag.tag}}
                </a>
            </div>
            <div class="right_module hots" id="new_hot">
                <div class="title">最近热门</div>
                <ul>
                    <li v-for="title in titleList"><a :href="title.link">{{title.title}}</a></li>
                </ul>
            </div>
            <div class="right_module commends" id="new_comments">
                <div class="title">最新评论</div>
                <ul>
                    <li v-for="comment in commentList">
                        <div class="info">
                            <span>{{comment.name}}</span>
                            <span class="time">{{comment.date}}</span>
                        </div>
                        <p>{{comment.comment}} </p>
                    </li>
                </ul>
            </div>
            <div class="right_module link">
                <div class="title">友情链接</div>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
                <span><a href="#">萨安抚芬</a></span>
            </div>
        </div>
    </div>
    <footer class="footer">
        <ul>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
            <li>asfsaf</li>
        </ul>
        <p>s阿萨的剑法威力基埃里就是打飞机啊十分</p>
    </footer>

    <script src="./js/blog_detail.js"></script>
    <script src="./js/base.js"></script>
</body>
</html>